<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Vuelin</title>
    <style>
      html{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      body{
        margin: auto;
        width: 75%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 10px; 
      }
      form {
        font-family: Comic Arial, Helvetica, sans-serif;
        font-size: 20px;
        margin-bottom: 40px;
      }
      button {
        padding: 5px 15px;
      }
    </style>
  </head>
  <body style="background-color:rgb(255, 255, 115);">
    
    <form method="post">
      Select destination and introduce code.
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Submit</button>
    </form>
    
  </body>
</html>