<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>Vuelin</title>
    <style>
              html{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      body{
        margin: auto;
        width: 50%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 10px; 
        
      }
      </style>
  </head>
  <body style="background-color:rgb(255, 255, 115);">
    {{promptWord}}
    <form method="post">
        Insert prompt including the word above
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    
  </body>
</html>